.DS_Store
__pycache__/
*.ipynb
knot_maker.py
ml_coords
normalized_coordinates
writhe.py
Djordje_test.py
*.dat.nos
ml_writhe_coords
1_main_coordinates
2_normalized_coordinates
3_lammps_normalized_coordinates
lammps_simulation
log.lammps
4_xyz_files
5_writhe_files
